<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task Vue</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="addTask">
      <div v-for="field in fields">
        <label :for="field.name">{{ firstUpper(field.name) }}</label>
        <input v-if="field.type === 'string'" type="text" :name="field.name">
        <textarea v-if="field.type === 'text'" type="text" :name="field.name" cols="30" rows="10">
        </textarea>
        <select v-if="field.type === 'enum'" :name="field.name">
            <option
              v-for="(item, index) in field.items"
              :value="item"
              :selected="index === 0"
              >
              {{firstUpper(item)}}
            </option>
          </select>
      </div>
      <input type="submit" value="ADD">
    </form>
    <table style="width:100%">
      <thead>
        <tr>
          <th v-for="column in fieldsNames">
            {{ firstUpper(column) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="task in tasks">
          <td v-for="field in fieldsNames">
            {{ task[field] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="./app.js" ></script>
</body>
</html>